/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
  display: flex;
}
.text-primary{
  color: #FF900E;
}
/* dark-02 */
.text-gray{
  color: #424242;
}
/* dark-03 */
.text-light-gray{
  color: #727272;
}

.bg-light{
  background-color:rgba(255, 144, 14, 0.1) ;
}

main{
  max-width: 1340px;
  margin: 0 auto;
}

main > section{
  margin-top: 130px;
}
.btn-primary{
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 1.25;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.btn-primary:hover{
  background-color: #FA812F;
}

.section-title{
  font-size: 2.65rem;
  font-weight: 700;
}

.facts-title{
   font-size: 2.65rem;
  font-weight: 700;
}

/*header styles*/



/*navbar related styles*/
.navbar{
  justify-content: space-between;
  align-items: center;
}

.brand{
  font-size: 2.8rem;
  font-weight: 700;
}

.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.navbar, .banner{
  max-width: 1340px;
  margin: 0 auto;
}
 
/* banner-related styles  */

.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title{
  font-size: 4rem;
  font-weight: 700;
}

.banner-image{
  width: 100%;
  margin-bottom: 30px;
}

/* team and feature related style */
.teams{
  align-items: center;
}

.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-feautres{
  margin-left: 100px;
  max-width: 530px;
}

       /* features section  related styles*/
  .features{
    gap: 140px;
  }


  #features-section-title{
    border-left: 6px solid #FF900E;
    padding-left: 20px;
  }
  .features p{
    max-width: 586px;
    margin-bottom: 30px;
  }

  .feature-card{
    border-radius: 8px;
    margin-bottom: -20px;
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  }

  .feature-card .feature-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -92px;
    margin-top: -77px;
  }
  #experience-year{
    font-size: 4rem;
    font-weight: 700;
  }

  .feature-architect img{
    width: 100%;
  }


#quick-list{
  font-weight: 500;
}

.feature-description{
  font-size: 1rem;
  margin-bottom: 32px;

}

/* some facts related styles */
.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
}
.fact-card{
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fact-number{
  font-size: 2.65rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 4px;
}
.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}
.some-facts p{
  width: 540px;
  margin-bottom: 100px;
  margin-top: 15px;
}

/* sponsor related styles */
.sponsor-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.gray-image{
  filter: grayscale(100%);
  transition: 0.4s ease;
  cursor: pointer;
}
.gray-image:hover{
  filter: grayscale(0%);
}

.footer-end{
  max-width: 1100px;          
  margin: 40px auto;          
  padding: 15px 10px;         
  border: none; 
  text-align: center; 
  background-color: #FFF4E7;
  border-radius: 5px;
  margin-top: 100px;
}
.footer-end p{
  font-size: 1rem;
  color: #424242;
  margin: 5px;
}
/* responsive media query */
@media screen and (max-width:576px){
  .navbar, .nav-link, .teams, .features{
    flex-direction: column;
  }
  .banner-image{
    margin-bottom: 3px;
  }
  .team-img-container, .facts-container, .sponsor-companies{
    grid-template-columns: 1fr;
  }
  .our-feautres{
    margin-left: 30px;
  }
  #experience-badge{
    margin-top: 20px;
    margin-left: 20px;
  }
  .some-facts{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .facts-title{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .facts-container{
    gap: 24px;
    margin: 0 auto;
  }
  .facts-description{
    text-align: center;
    max-width: 100%;
  }
  
  .sponsor-companies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

}


/* medium size device */

@media screen and (min-width:576px) and (max-width:992px){
  .teams, .features{
    flex-direction: column;
  }
  .our-feautres{
    margin-left: 50px auto;
  }

  .sponsor-companies, .facts-container{
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    justify-items: center;
  }

   #experience-badge{
    margin-top: 20px;
    margin-left: 20px;
  }
}